## libraries

In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 

from sklearn.cluster import KMeans , SpectralClustering , AgglomerativeClustering
from matplotlib.colors import LinearSegmentedColormap

import os

## Data

In [2]:
data_df = pd.read_json("Brisbane_CityBike.json")

In [3]:
data_df.head( len(data_df) )

,number,name,address,latitude,longitude
0,122,122 - LOWER RIVER TCE / ELLIS ST,Lower River Tce / Ellis St,-27.482279,153.028723
1,91,91 - MAIN ST / DARRAGH ST,Main St / Darragh St,-27.470590,153.036046
2,88,88 - SYDNEY ST FERRY TERMINAL / PARK,Sydney St Ferry Terminal / Park,-27.474531,153.042728
3,75,75 - BROWNE ST / JAMES ST,Browne St / James St,-27.461881,153.046986
4,98,98 - KURILPA POINT / MONTAGUE RD,Kurilpa Point / Montague Rd,-27.469658,153.016696
...,...,...,...,...,...
144,38,38 - ANN ST / CREEK ST,38 - Ann St / Creek St,-27.465880,153.026861
145,14,14 - ALBERT STREET MALL / ELIZABETH STREET,Albert St Mall / Elizabeth St,-27.470110,153.025627
146,45,45 - TURBOT ST / BOWEN ST,Turbot St / Bowen St,-27.462665,153.029087
147,1,1 - EDWARD ST / QUEEN ST,Edward St / Queen St,-27.468120,153.026820
148,116,116 - CORDELIA ST / ERNEST ST,Cordelia St / Ernest St,-27.481137,153.019284

**after googling the textual addresses and as mentioned on the subject the data comes from 'Brisbane' , Australia**

## some basics

### number column

In [4]:
unique_numbers =  data_df.number.unique()

print (" the number of distinct addresses " , unique_numbers.shape[0] )

 the number of distinct addresses  149

**It is an ID  column**

### address column

In [5]:
unique_addrs = data_df.address.unique()

print (" the number of distinct addresses " , unique_addrs.shape[0] )

 the number of distinct addresses  146

it is almost unique for each example , this column as it is , is not relevant

In [6]:
print(" our remark == " , len(data_df.name.unique()) == 149 )

 our remark ==  True

### name

**We could notice intuitively that 'name' column is a concatenation between the two previous columns**

Confirmation to check out if there is some misconceptions

In [7]:
print(" our remark == " , len(data_df.name.unique()) == 149 )

 our remark ==  True

## explore the address column

In [8]:
# new dataframe
column_addr_df = data_df["address"].str.split(" / ", n = 1 , expand = True) 

# fetch the first column 
data_df["address 1"]= column_addr_df[0]
  
# fetch the second column 
data_df["address 2"]= column_addr_df[1] 
  
# Dropping old address column
data_df.drop(columns =["address"], inplace = True) 

data_df.head(5)

,number,name,latitude,longitude,address 1,address 2
0,122,122 - LOWER RIVER TCE / ELLIS ST,-27.482279,153.028723,Lower River Tce,Ellis St
1,91,91 - MAIN ST / DARRAGH ST,-27.470590,153.036046,Main St,Darragh St
2,88,88 - SYDNEY ST FERRY TERMINAL / PARK,-27.474531,153.042728,Sydney St Ferry Terminal,Park
3,75,75 - BROWNE ST / JAMES ST,-27.461881,153.046986,Browne St,James St
4,98,98 - KURILPA POINT / MONTAGUE RD,-27.469658,153.016696,Kurilpa Point,Montague Rd

In [9]:
print("first part address unique values  : ", len(data_df["address 1"].unique()) ) 
print("second part address unique values : ", len(data_df["address 2"].unique()) )

first part address unique values  :  103
second part address unique values :  105

**No Relevance too**